.cast-movie-container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7rem 2rem 2rem 2rem;
    background-color: #080f28;
    @include desktop {
        padding: 7rem 8rem 2rem 8rem;
    }
}

.page-cast-container {
    background-color: #fff;
    height: 100%;
}

.cast-movie-container .lazy-load-poster {
    border-radius: .3rem;
}

.cast-movie-container img {
    border-radius: .3rem;
}

.cast-movie-container .cast-movie-title {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content;
    margin-left: 1rem;
}

.cast-movie-container .cast-movie-title .title {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    margin-top: .4rem;
}

.cast-movie-container .cast-movie-title a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-top: .2rem;
}


.cast-movie-container .cast-movie-title a .arrow {
    color: #fff;
    font-size: 1.2rem;    
    opacity: 0.7;
    @include desktop {
        font-size: 1.4rem;
    }
}

.cast-movie-container .cast-movie-title a span {
    color: #fff;
    font-size: 1.1rem;
    opacity: 0.7;
    font-weight: 700;
    transition: letter-spacing 100ms;
}

.cast-movie-container .cast-movie-title a span:hover {
    @include desktop {
        letter-spacing: 0.5px;
    }
}

.cast-lists-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    background-color: #fff;
    padding: 2rem 2rem 1rem 2rem;
    @include tablet {
        grid-template-columns: 1fr 1fr;
    }
    @include desktop {
        padding: 2rem 8rem 1rem 8rem;
    }
}

.cast-lists-container .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
}

.cast-list-container {
    padding-bottom: 2rem;
}

.cast-list-container .title {
    font-size: 1.1rem;
    font-weight: 700;
}

.cast-list-container .personItem {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content;
    margin-top: 1rem;
}

.cast-list-container .personItem img {
    border-radius: .5rem;
}

.cast-list-container .personItem .lazy-load-img {
    border-radius: .5rem;
}

.cast-list-container .personItem .info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content;
    margin-left: 1rem;
}

.cast-list-container .personItem .info a {
    color: #000;
    font-weight: 700;
    margin-top: .5rem;
    width: max-content;
}

.cast-list-container .personItem .info a:hover {
    @include desktop {
        text-decoration: underline;
    }
}

.cast-list-container .personItem .info span {
    font-size: .8rem;
    margin-top: .2rem;
    opacity: 0.8;
}