.movie-page-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
}

.movie-page-container .header-container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content;
    column-gap: 1rem;
    padding: 120px 2rem 2rem 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
}

.movie-page-container .header-container .poster {
    border-radius: .2rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.178);
}

.movie-page-container .header-container .title {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
}

.movie-page-container .header-container .vote-container {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-auto-rows: min-content;
    align-items: center;
    margin-top: .2rem;
}

.movie-page-container .header-container .title-container {
    padding-top: .5rem;
}

.movie-page-container .header-container .vote-container .vote {
    font-size: 1rem;
    color: #edb709;
}

.movie-page-container .header-container .vote-container .star {
    font-size: 1.6rem;
    color: #edb709;
    margin-right: .3rem;
}

.movie-page-container .info-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
}


.movie-page-container .info-container .basic-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 221, 221);
    row-gap: .2rem;
    padding: .5rem 0;
}

.movie-page-container .info-container .basic-info .dates {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content;
    justify-content: center;
}

.movie-page-container .info-container .basic-info .dates .language {
    margin-right: .6rem;
}

.movie-page-container .info-container .basic-info span {
    color: #000;
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0.8;
    text-align: center;
}

.movie-page-container .info-container .texts-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    padding: 1rem;
    row-gap: 1rem;
    background-color: #fff;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.movie-page-container .info-container .texts-container .title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
    opacity: 0.9;
}

.movie-page-container .info-container .texts-container .text {
    color: #000;
    font-size: 1.1rem;
    opacity: 0.7;
    font-weight: 400;
    margin-bottom: .5rem;
}

.movie-page-container .info-container .texts-container .tagline {
    color: #000;
    font-size: 1.1rem;
    opacity: 0.7;
    font-weight: 400;
    font-style: italic;
}

.movie-page-container .info-container .texts-container .director-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: min-content;
}

.movie-page-container .info-container .texts-container .director-container div {
    display: grid;
    grid-template-columns: min-content;
    grid-auto-rows: min-content min-content;
}

.movie-page-container .info-container .texts-container .director-container div .director {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0.9;
    white-space: nowrap;
}

.movie-page-container .info-container .texts-container .director-container .job {
    color: #000;
    font-size: .9rem;
    opacity: 0.6;
    white-space: nowrap;
}

.movie-page-container .info-container .section-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    background-color: #fff;
    padding-top: 1rem;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.movie-page-container .info-container .section-container .title {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #000;
    font-size: 1.1rem;
    padding-left: 1rem;
}

.movie-page-container .info-container .section-container .items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: .5rem;
    padding-left: 1rem;
}

.movie-page-container .info-container .section-container .items .item {
    display: grid;
    grid-template-columns: min-content;
    grid-auto-rows: min-content;
    margin-bottom: 1rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: .2rem;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    margin-right: 1rem;
}

.movie-page-container .info-container .section-container .items a {
    margin-right: 1rem;
}

.movie-page-container .info-container .section-container .items .item .img-person {
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    min-width: 100px;
}

.movie-page-container .info-container .section-container .items .lazy-load-img-backdrop {
    margin-bottom: .5rem;
    margin-right: 1rem;
}

.movie-page-container .info-container .section-container .items .img-backdrop {
    min-width: 150px;
}


.movie-page-container .info-container .section-container .items .img-movie {
    margin-bottom: .5rem;
    border-radius: .2rem;
}

.movie-page-container .info-container .section-container .items .item .name {
    font-weight: bold;
    font-size: .9rem;
    color: #000;
    padding: 10px 10px 4px 10px;
    margin-right: 0;
}

.movie-page-container .info-container .section-container .items .item .job {
    color: #000;
    font-size: .8rem;
    padding: 0 10px 8px 10px;
}

.movie-page-container .info-container .section-container .items .recommendation-movie-title {
    color: #000;
    font-size: .9rem;
    padding-right: 1rem;
}

.movie-page-container .info-container .section-container .full-crew {
    font-weight: bold;
    color: #000;
    margin: 1rem;
    font-size: 1.1rem;
}

.movie-page-container .info-container .more-info {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    background-color: #fff;
    padding: 1rem 1rem 0 1rem;
}

.movie-page-container .info-container .more-info .data {
    font-weight: 700;
}

.movie-page-container .info-container .more-info .valor {
    margin-bottom: 1rem;
    font-size: .9rem;
    margin-top: .2rem;
    padding-right: 4rem;
}