.movies-main-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    margin-top: 2rem;
    padding: 0 1.8rem;
}

.movies-main-container .movies-title {
    font-size: 2.05rem;
    margin-bottom: 0;
    margin-right: 1.5rem;
    color: #fff;
    letter-spacing: -1px;
    font-weight: 700;
}

.movies-main-container .category-container {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content;
    margin-top: 0.4rem;
    margin-bottom: 2rem;
    align-items: start;
}

.movies-main-container .category-container .category {
    margin-right: 1.5rem;
    color: #4f6b95;
    border-bottom: 3px solid transparent;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.4rem 0;
}

.movies-main-container .category-container .category-current {
    color: #fff;
    border-bottom-color: #edb709;
}

.movies-list-container {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-auto-rows: min-content;
    column-gap: 6%;
}

.movies-list-container .movie-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    margin-bottom: 1.25rem;
    position: relative;
}


.movies-list-container .movie-container img {
    width: 100%;
    height: 240px;
    border-radius: .200rem;
}

.movies-list-container .movie-container .movie-title {
    font-size: .875rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0;
    padding-top: 0.5rem;
    color: #fff;
}

.movies-list-container .movie-container .movie-year {
    position: absolute;
    opacity: 0;
}

.movies-main-container .pagination-container {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.movies-main-container .pagination-container .pages {
    padding: 0.5rem;
    background-color: #1e2747;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content;
    align-items: center;
    border-radius: 5rem;
    margin: 0 .5rem;
    padding: .8rem;
    line-height: 2rem;
}

.movies-main-container .pagination-container .pages span {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.movies-main-container .pagination-container .pages .page {
    background-color: #007aff;
    border-radius: 5rem;
}

.movies-main-container .pagination-container .pages .total {
    background-color: #4F6B94;
    border-radius: 5rem;
}

.movies-main-container .pagination-container .arrow {
    background-color: #1e2747;
    font-size: 2rem;
    padding: .8rem;
    border-radius: 5rem;
    color: #4F6B94;
}

.movies-main-container .pagination-container .invalid {
    opacity: 0;
}