.navbar-container {
    display: grid;
    grid-template-columns: min-content min-content auto min-content;
    grid-template-rows: min-content;
    align-items: center;
    justify-items: center;
    padding: 20px 30px 0 30px;
}

.navbar-container .logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    z-index: 5;
}

.navbar-container .logo-title {
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    z-index: 5;
}

.navbar-container .menu-icon {
    color: #fff;
    font-size: 30px;
    position: relative;
    grid-column: 4/5;
    grid-row: 1;
    z-index: 5;
}

.navbar-container .circle {
    grid-column: 4/5;
    grid-row: 1;
    position: relative;
    z-index: 4;
    width: 50px;
    height: 50px;
    background-color: #178FFF;
    border-radius: 50%;
}

.black-background {
    position: fixed;
    left: -100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.75);
    z-index: 0;
    transition: 200ms;
}

.navbar-menu-container {
    position: fixed;
    left: -85%;
    bottom: 0;
    top: 0;
    width: 85%;
    background-color: #080f28;
    z-index: 1;
    transition: 200ms;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
}

.navbar-menu-anim-enter {
    left: 0;
}

.navbar-menu-anim-enter-done {
    left: 0;
}

.navbar-menu-anim-exit {
    left: -85%;
}

.navbar-menu-anim-exit-done {
    left: -85%;
}

.black-background-anim-enter {
    left: 0;
}

.black-background-anim-enter-done {
    left: 0;
}

.black-background-anim-exit {
    left: -100%;
}

.black-background-anim-exit-done {
    left: -100%;
}

.navbar-menu-container .search-bar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
    align-items: center;
    padding-top: 120px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -36px;
        height: 1px;
        background-color: rgba(61,79,145,.5);
    }
}

.navbar-menu-container .search-bar .search-input {
    grid-column: 1/2;
    grid-row: 1;
    background: none;
    padding: 16px;
    border: 1px solid rgba(61,79,145,.5);
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: #8da0bc;
    margin: 0 20px;
}

.navbar-menu-container .search-bar .search-input::placeholder {
    font-size: 16px;
    color: #8da0bc;
}

.navbar-menu-container .search-bar .search-icon {
    grid-column: 1/2;
    grid-row: 1;
    color: #178FFF;
    font-size: 30px;
    margin-left: 78%;
}