.navbar-container {
    display: grid;
    grid-template-columns: min-content min-content auto min-content;
    grid-template-rows: min-content;
    align-items: center;
    justify-items: center;
    padding: 20px 30px;
    transition: 100ms;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    @include desktop {
        padding: 20px 8rem;   
        grid-template-columns: min-content min-content auto min-content min-content min-content;
    }
}

.navbar-container .logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    z-index: 5;
    @include desktop {
        width: 50px;
        height: 50px;   
    }
}

.navbar-container .logo-title {
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    z-index: 5;
    @include desktop {
        margin-right: 4rem;   
    }
}

.navbar-container .menu-icon {
    color: #fff;
    font-size: 30px;
    position: relative;
    grid-column: 4/5;
    grid-row: 1;
    z-index: 5;
}

.navbar-container .circle {
    grid-column: 4/5;
    grid-row: 1;
    position: relative;
    z-index: 4;
    width: 50px;
    height: 50px;
    background-color: #178FFF;
    border-radius: 50%;
}

.black-background {
    position: fixed;
    left: -100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.75);
    z-index: 0;
    transition: 200ms;
}

.navbar-menu-container {
    position: fixed;
    left: -85%;
    bottom: 0;
    top: 0;
    width: 85%;
    background-color: #080f28;
    z-index: 1;
    transition: 200ms;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content;
    overflow-y: scroll;
    @include desktop {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        grid-template-columns: auto min-content min-content min-content;
        grid-template-rows: min-content;
        column-gap: 2rem;
        overflow: hidden;
        align-items: center;
        background: none;
    }
    @include tablet {
        left: -50%;
        width: 50%;
    }
}

.background-title {
    position: fixed;
    left: -85%;
    width: 85%;
    top: 0;
    height: 120px;
    background-color: #080f28;
    z-index: 3;
    transition: 200ms;
    @include tablet {
        left: -50%;
        width: 50%;   
    }
}

.navbar-menu-anim-enter {
    left: 0;
}

.navbar-menu-anim-enter-done {
    left: 0;
}

.navbar-menu-anim-exit {
    left: -85%;
}

.navbar-menu-anim-exit-done {
    left: -85%;
}

.black-background-anim-enter {
    left: 0;
}

.black-background-anim-enter-done {
    left: 0;
}

.black-background-anim-exit {
    left: -100%;
}

.black-background-anim-exit-done {
    left: -100%;
}

.navbar-container .search-bar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
    align-items: center;
    margin-top: 120px;
    position: relative;
    z-index: 3;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -60px;
        height: 1px;
        background-color: rgba(61,79,145,.5);
        @include desktop {
            display: none;
        }
    }
    @include desktop {
        margin-top: 0;
        transform: scale(0.9);
    }
}

.navbar-container .search-bar .search-input {
    grid-column: 1/2;
    grid-row: 1;
    background: none;
    padding: 18px 16px 16px 16px;
    border: 1px solid rgba(61,79,145,.5);
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: #8da0bc;
    margin: 0 20px;
    @include desktop {
        margin: 0;   
        background-color: rgba(0, 0, 0, 0.295);
        padding: 12px 16px 12px 22px;
    }
}

.navbar-container .search-bar .search-input::placeholder {
    font-size: 16px;
    color: #8da0bc;
}

.navbar-container .search-bar .search-link {
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 78%;
    display: grid;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    @include desktop {
        margin-left: 82%;   
    }
    @include tablet {
        margin-left: 80%;   
    }
}

.navbar-container .search-bar .search-icon {
    color: #178FFF;
    font-size: 30px;
    cursor: pointer;
    @include desktop {
        font-size: 24px;
    }
}

.navbar-container .navbar-link {
    text-decoration: none;
    color: #fff;
    margin: 20px 0 0 30px;
    @include desktop {
        margin: 0;
        margin-right: 2rem;   
    }
}

.navbar-container .navbar-link:hover {
    @include desktop {
        color: #178FFF;
    }
}

.navbar-container .navbar-genres-title-container {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content;
    align-items: center;
    margin: 46px 0 0 30px;
    cursor: pointer;
    @include desktop {
        margin: 0;   
        margin-right: 2rem;
    }
}

.navbar-container .navbar-genres-title {
    color: #fff;
    margin-right: 6px;
}

.navbar-container .navbar-genres-title:hover {
    @include desktop {
        color: #178FFF;  
    }
}

.navbar-container .navbar-arrow {
    color: #178FFF;
    font-size: 18px;
    @include desktop {
        font-size: 16px;  
    }
}

.desktop-genres-container {
    position: relative;
}

.navbar-container .navbar-genres-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: min-content;
    row-gap: 8px;
    margin: 20px 0 40px 30px;
    @include desktop {
        position: absolute;
        row-gap: 0;
        align-items: center;
        left: -3rem;
        top: 2rem;
        margin: 0;
        background-color: #1e2747;
        padding: .8rem;
        border-radius: 6px;
    }
}

.navbar-container .arrow-menu {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #1e2747;
}

.navbar-container .navbar-genres-container .genre-link {
    text-decoration: none;
    color: #8da0bc;
    opacity: 0.6;
    @include desktop {
        padding: .8rem;
        white-space: nowrap;
        border-radius: 4px;
        color: #fff;
        opacity: 0.8;
    }
}

.navbar-container .navbar-genres-container .genre-link:hover {
    @include desktop {
        background-color: rgba(0,0,0,.3);
        color: #178FFF;
    }
}
